.tile {
    border: 1px solid black;
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor:pointer
}

.playerX {
    color: blue;
}

.playerO {
    color: red;
}